{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>红细胞e站</title>
    <link rel="stylesheet" href="__CSS__/layout.css">
</head>
<body>
<h3 id="title">
    红细胞e站
    <span>
            <img src="__IMG__/search.png" />
        </span>
</h3>
<main>
    <div>
        <img src="__IMG__/index.jpg" alt="index_img" id="index-img">
    </div>
    <div id="nav" border="0px">
        <div class="rows">
            <div class="cols" id="box-1-1">
                <a href="?s=index/index/list&id=1">
                    <img src="__IMG__/index_wdk.jpg">
                </a>
                <p> <a href="?s=index/index/list&id=1">红色微党课</a></p>
            </div>
            <div class="cols" id="box-1-2">
               <a href="?s=index/index/list&id=2">
                <img src="__IMG__/index_xbt.jpg">
               </a>
                <p> <a href="?s=index/index/list&id=2">活力学霸团</a></p>
            </div>
        </div>
        <div class="rows">
            <div class="cols"  id="box-2-1">
                <a href="?s=index/index/list&id=3">
                    <img src="__IMG__/index_zy.jpg">
                </a>
                <p> <a href="?s=index/index/list&id=3">先锋志愿行</a></p>
            </div>
            <div class="cols" id="box-2-2">
                <a href="?s=index/index/list&id=4">
                <img src="__IMG__/index_cs.jpg">
                </a>
                <p> <a href="?s=index/index/list&id=4">经典共传诵</a></p>
            </div>
        </div>
    </div>
</main>
</body>